/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.spinner{
  width: '200px';
  margin: 'auto';
  display: 'block'; 
}

.search{
  display: inline-block;
}
.search h5{
float: right;
margin: 3px;
font-size: 12px;
font-weight: 550;
}
.search h6{
  float: right;
  margin-top: 5px;
}
.search input[type='checkBox']{
  margin-left: 10px;
}

.sort h5{
  float: right;
  font-size: 12px;
  font-weight: 550;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.half{
  width:50%;
}
/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.card{
  display: inline-block;
  background: rgb(204, 204, 191);
  margin: 40px 40px
}

.card img{
  width: 270px;
  height: 200px;
}

/* .shop_cards{
  display: grid;
  grid-template-columns: 300px 300px;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
} */

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: rgb(218, 42, 42);
  color: #fff;
}

.btn-warning,
.bg-warning,
.badge-warning,
.alert-warning {
  background: rgb(218, 200, 42);
  color: black;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
button:hover,
.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form .form-optin{
  color:black;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='date']{
  font-size: 1.2rem;
  /* padding: 0.4rem; */
  /* display: block; */
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  width: 25%;
}


.form input[type='number']{
  width: 90px;
  font-size: 0.9rem;
  padding-left: 0.9px;
  margin-left: 2px;
}

.form input[type='submit'],
button {
  font: inherit;
}

.input-location #contry{
  float: left;
  width: 58%;
  margin-right: 3%;

}

.input-location #city{
  float: left;
  width: 39%;
}

.input-birthday #year{
  float: left;
  width: 40%;
}

.input-birthday #month{
  float: left;
  width: 30%;
  margin-right: 3%;

}

.input-birthday #day{
  float: left;
  width: 24%;
  margin-right: 3%;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.date{
  display: block;
  font-size: 1.2rem;
}

.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.2rem;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color:rgb(238, 227, 215);
}
.checkBox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkBox input:checked ~ .checkmark {
  background-color:var(--primary-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkBox input:checked ~ .checkmark:after {
  display: block;
}
.checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.navbar_sale {
  margin: 64px -32px;
}

.navbar_sale a{
  color: rgb(54, 6, 6);
}
.dash-buttons .btn{
 width: 180px;
 margin-bottom: 3px;
}

/* photos */

.crop-container {
  width: 350px;
  height:350px ;
  text-align: center;
  margin: auto;
  position: relative;
}

.bigDropzone{
  height: 250px;
  width: 80%;
  text-align: center;
  padding:20% 0%;
  margin: auto;
  border-style: dashed;
}

.smlDropzone{
  height: 5%;
  width: 60%;
  text-align: center;
  padding: 2% 0%;
  margin: auto;
  border-style: dashed;
  border-color: #aaa;
}

.controlers-container{
  width: 50%;
}

.controlers {
  -webkit-appearance: none;
  width: 35%;
  height: 10px;
  margin-bottom: 20px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: .2s;
}

.text-controler{
padding-left: 60%;
position: static;
}

.rotation-controler{
padding-left: 30%;
}

.controlers:hover {
  opacity: 1;
}

.controlers::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%; 
  background: var(--primary-color);
  cursor: pointer;
}
/* for firefox */
.controlers::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%; 
  background: var(--primary-color);
  cursor: pointer;
}

.profileImage{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}

.profileImage img{
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.profileImage button{
  transition: .5s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  
}

.profileImage:hover img{
  opacity: 0.5;
}

.profileImage:hover button{
  opacity: 1;
}

.currentProfile{
 border-radius: 50%;
 display: block;
 position: absolute;
 top: 140px;
 left: 86%;
 width: 90px;
 height: 90px;
}

.currentProfile img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
/* Landing Page */
.landing {
  position: relative;
  background: url('./img/staertPic.jfif') no-repeat center center/cover;
  height: 100vh;
  
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas: "user user pet"
                        "about about pet";
  grid-template-rows: 1.1fr 0.9fr;
  grid-template-columns: 70% 1fr;
  grid-gap: 1rem;
}

.profile-top {
  grid-area: user;
  text-align: center;
}

/* .userProfile{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.userPets{
grid-area: pet;
width: 200px;
border-width: 3px;
border-style: ridge;
border-color: blanchedalmond;
background-color: rgba(129, 129, 151, 0.904);
}

.petItem{
/* width: 100px;
height: 160px; */
text-align: center;
align-content: right;
align-items: right;
transition: 0.5s ease-in-out;
transition: width 0.5s ;
}

.petItem:hover{
  /* width: 160px;
  height: 100px; */
  border-width: 3.5px;
  border-style: groove;
  border-color: rgb(139, 139, 139);
  transition: 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.petItem button{
  height: 0;
  margin: 0;
  opacity: 0;
  visibility: none;
  transition:height 0.8s, visibility 0.5s, opacity 0.5s linear;
}

.petItem:hover button{
  width: 100px;
  height: 60px;
  opacity: 1;
  visibility: visible;
  transition:height 0.8s, visibility 05s, opacity 0.5s linear;

}

.petItem h2{
  color: black;
  }



.profile-top img {
  width: 250px;

}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.fa-quote-left{
  float: left;
}

.fa-quote-right{
  float: right;
}

.profile-about {
  grid-area: about;
  text-align: center;
  background-color: rgba(255, 229, 198, 0.836);
}

.profile-about .questions {
  opacity: 0.7;
  font-size: 3vh;
  display: block;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

/* .profile-about .answers {
  float: right;
  align-items: right;
  justify-content: right;
  text-align: right;
} */

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* pet profile */

.petBarUnit h3{
margin-right: 10px;
}

.petImage-container{
  display: grid;
  overflow:scroll;
  height: 800px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 230px 230px 230px;
  grid-gap: 10px 5px;
  border-style: groove;
  border-width: 1.5px;
  border-radius: 5px;
  background-color: AliceBlue;
}

.petImage{
  height: 230px;
  transition: 0.5s ease-in-out;
}

/* .petImage:hover{
background-color:  rgb(199, 229, 255);} */

.petImage:hover img{
    height: 70%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.5s ease-in-out;
}

.petImage:hover textarea{
  height: 15%;
  transition: 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.petImage:hover button{
  height: 10%;
  transition: 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.petImage img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.petImage textarea{
width: 100%;
height: 0%;
border:none;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
opacity: 0;
visibility: hidden;
transition: visibility 0s, opacity 0.5s linear;
}

.petImage button{
  height: 10%;
  width: 50%;
  border:none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  }


.petName{
  position: absolute;
  margin: -45px 100px;
  font-size: 2rem;
  width: 70%;
}

.btnphoto{
width: 100%;
height: 100%;
display: block;
}

.userPet{
  float: right;
  display: block;
  width: 30%;
  text-align: center;
}

.userPet button{
  height: 0;
  margin: 0;
  opacity: 0;
  visibility: none;
  transition:height 0.8s, visibility 0.5s, opacity 0.5s linear;
}

.userPet:hover button{
  width: 100px;
  height: 60px;
  opacity: 1;
  visibility: visible;
  transition:height 0.8s, visibility 05s, opacity 0.5s linear;

}
.petBarUnit{
  border-style: solid;
  padding: 20px 0;
  margin: 0 15px;
  border-color: rgb(8, 107, 107);
 }

.petBarUnit img{
  width: 100px;
  height: 100px;
  margin: 5px 5px;
  border-radius: 50%;
}

.petBarUnit h2 i {
  margin-left: 10%;
}

.petBarUnit .btn{
  width: 100px;
}

.petNewImage{
display: block;
}

.petNewImage img{
width: 200px;
height: 200px;
}

.petNewImage textarea{
  width: 200px;
}

.petTop .icons {
margin: 5px 83%;
font-size: 2.5vh;
position: relative;
/* position: absolute; */
}

.petTop .icons i{
  margin-left: 10px;
  /* font-size: 3vh; */
  text-align: end;
  display: inline;
  }

.petDescrption {
  width:90%;
  padding: 0 5px;
  margin-bottom: 25px;
  font-style: italic;
  border-style: groove;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(178, 177, 247);
}

.petInfo{
  padding: 0 5px;
  width: 250px;
  border-style: ridge;
  border-width: 1px;
  margin-bottom: 25px;
}

.fa-info-circle{
  position: relative;
}

.adoptionDate{
  float: right;
  color: rgb(82, 82, 82);
  margin-top: 50px;
  text-shadow: -0.06px 0 black, 0 0.06px black, 0.06px 0 black, 0 -0.06px black;


}

.fa-check-square{
  float: right;
  margin-top: 5px;
  color: rgb(16, 39, 88);
}

#petCost{
  float: right;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

#web-icon{
  height: 30px;
  width: auto;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .search{
    display: ruby;
  }

  .search input[type='text']{
    width:45%;
    float: left;

  }

  .search h5{
  margin-right: 48%;
  float: left;    
}

  /* .search h6{
    float: left;    
  } */

  .search input[type='checkBox']{
    margin-left: 4px;
  }

  .sort h5{
  margin-left:75%;
  margin-top:-55px;
  /* float: left; */
  position: static;
  }

  .sort select{
  width:65px;
    }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
  .navbar_sale {
    margin: 106px -32px;
  }

  .navbar_sale h1 {
    margin-bottom: 0.1rem;
  }
  
  .navbar_sale span {
    padding: 0 8px;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

}



